#works-panel {
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.works-panel__row {
	flex: 1 0 100%;
	display: flex;
	flex-flow: row nowrap;
}

.works-panel__item {
	text-align: center;
	flex: 1 0 33%;
	height: 10vmax;
	width: 10vmax;
	display: flex;
	justify-content: center;
	align-items: center;
	// border-radius: 4vmax;
	.works-panel__item__link {
		opacity: 0.5;
		padding: 0.9em;
		transition: 0.25s all ease-in-out;

		&:hover {
			opacity: 1;
			padding: 4vmin;
			transform: scale(1.05);
			border: 1px solid silver;
			// margin-left: 1em;
		}
	}
}
