.works-panel__row {
	display: flex;
	flex-flow: row nowrap;
}

.works-panel__item {
	height: 10vmax;
	width: 10vmax;
	flex: 1 0 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.works-panel__item__link {
	opacity: 0.5;
}
