@font-face {
  font-family: "Petita";
  src: url(src/PetitaMedium.tff) format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Variables */
/* General Formatting */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  height: 100%;
  margin: 0; }

body {
  font-family: Quicksand,Roboto;
  font-size: 20px;
  color: #e6e6e6;
  background-color: black;
  opacity: 0.8; }

/* Containers */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-around; }

#main {
  display: flex;
  flex-flow: column;
  height: 100%; }

/* BACKGROUND */
#diag-line {
  position: absolute;
  height: 40%;
  width: 70%;
  border-bottom: 1px solid #e6e6e6;
  transform: translateX(33%) translateY(65%) rotate(30deg);
  z-index: -998; }

.diag-box-sg {
  position: fixed;
  height: 60%;
  width: 70%;
  background-color: slategrey;
  transform: translateX(30%) translateY(60%) rotate(30deg);
  opacity: 0.15;
  z-index: -1000;
  animation: spin-sg 30s linear 0s infinite alternate; }

.diag-box-g {
  position: absolute;
  height: 60%;
  width: 30%;
  background-color: grey;
  transform: translateX(0%) translateY(30%) rotate(-32deg);
  opacity: 0.15;
  z-index: -999;
  transition: all 10s linear;
  animation: spin-g 30s linear 0s infinite alternate; }

@keyframes spin-sg {
  to {
    transform: rotate3d(160deg); } }
@keyframes spin-g {
  to {
    transform: translateY(20%) rotate(10deg); } }
/* CONTENT */
.content {
  flex: 1 1 auto;
  height: 100%; }

.two-col {
  flex: 1 0 50%; }

.two-col ~ .two-col {
  border-left: 1px solid #e6e6e6; }

nav {
  margin: 20% 20% 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around; }

.nav-item {
  opacity: 0.8;
  min-width: 50%;
  padding: 0 1em;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s linear; }
  .nav-item:before, .nav-item:after {
    transition: all 0.2s linear; }
  .nav-item:hover {
    border-left: 1.5em solid #222; }
  .nav-item h1 {
    font-size: 40px;
    margin: 0.25em 0; }

#right-panel {
  justify-content: center;
  align-items: center; }
  #right-panel .info-panel {
    width: 100%;
    padding: 3em;
    display: none; }

#construction {
  display: flex; }

#about-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-bottom: 15%; }
  #about-panel p {
    position: relative;
    padding: 3em;
    color: transparent;
    transition: color .2s 0.5s linear; }
    #about-panel p:before, #about-panel p:after {
      transition: all 0.8s ease-in-out; }
    #about-panel p:after {
      content: "";
      background-color: #777;
      background-size: cover;
      border: 200px inset #aaa;
      border-radius: 450px;
      background-repeat: no-repeat;
      opacity: 0.15;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1; }
    #about-panel p:hover {
      color: #e6e6e6; }
      #about-panel p:hover:before, #about-panel p:hover:after {
        border: 2em inset #aaa;
        border-radius: 0;
        opacity: 0.3; }

footer {
  flex: 0 1 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  font-size: 12px;
  padding: 1.5em;
  z-index: 1000;
  border: 1px dotted grey; }
  footer a {
    color: grey;
    text-decoration: none;
    transition: all 0.1s linear; }
    footer a:hover {
      color: #e6e6e6; }

#footer-left {
  flex: 1 0 5%; }

#footer-right {
  flex: 0 1 6%;
  display: flex;
  justify-content: space-between; }
  #footer-right i {
    flex: 1 0 auto; }
