@font-face {
  font-family: "Pitch Bold",
  src: local("test-pitch-bold.woff2") format("woff2")<
}

body {
  background-color: lightblue;
  color: crimson;
  font-family: "Pitch Bold", monospace;
  font-size: 20px;
  padding: 3vh;
  box-sizing: border-box;
  cursor: default;
  outline: 1px white dotted;
  animation: outline 1s infinite alternate cubic-bezier(0.5, 0.0, 0.7, 2.3);
}

@keyframes outline {
  from { outline: 1px white dotted }
  to { outline: 2px salmon solid }
}

button {
    color: blue;
    cursor: pointer;
    background-color: lightblue;
}
