@font-face {
  font-family: "Signifier Regular",
  src: local("./test-signifier-regular.woff2") format("woff2"),
}

@font-face {
  font-family: "Signifier Black Italic",
  font-style: "italic",
  font-weight: "900",
  src: local("./test-signifier-black-italic.woff2") format("woff2"),
}

body {
  background-color: black;
  color: white;
  font-family: "Signifier Regular";
  font-size: 24px;
  padding: 3vh;
  box-sizing: border-box;
  cursor: default;
  outline: 1px white dotted;
  animation: outline 1s infinite alternate cubic-bezier(0.5, 0.0, 0.7, 2.3);
}

@keyframes outline {
  from { outline: 1px white dotted }
  to { outline: 2px grey solid }
}

hr {
  padding-top: 50vh;
  opacity: 0.16;
}

#wu {
  position: absolute;
  bottom: 10vh;
  z-index: -999;
  display: flex;
  justify-content: flex-end;
  font-size: 55px;
  font-family: "Signifier Black Italic";
  font-style: italic;
  color: white;
  right: 0;
}

#runes {
  animation: runes 4.444s infinite alternate cubic-bezier(0.5, 0.0, 0.7, 2.3);
}

#yingguang {
  max-width: 50vmax;
  animation: yingguang 4.444s infinite alternate cubic-bezier(0.1, 0.7, 0.7, 0.4);;
}

@media (max-width: 768px) {
  #wu {
    font-size: 32px;
    left: 10vw;
    display: block;
  }
}

@keyframes runes {
  from { opacity: 0 }
  to { opacity: 0.24 }
}

@keyframes yingguang {
  from { opacity: 0 }
  to { opacity: 1 }
}

.hua {
  font-family: serif;
}

a {
  color: black;
  background-color: gainsboro;
  padding: 2px;
}

a:hover {
  color: yellow;
  background-color: black;
}

footer {
  /* text-align: right; */
}

#X {
  position: absolute;
  right: 50%;
  top: 30%;
  font-size: 10px;
  font-weight: 100;
  animation: spinspin 1s infinite alternate linear;
}

@keyframes spinspin {
  from {
    color: grey;
  }
  to {
    color: black;
    transform: rotate(1440deg) skew(1440000deg)
  }
}
