/* Imports */
@font-face {
	font-family: "Petita";
	src: url("src/PetitaMedium.tff") format("truetype");
	font-weight: normal;
	font-style: normal;
}
/* Variables */
$prim-white: #e6e6e6;
/* General Formatting */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	// background-color: rgba(0,0,0,0.1);
}
html,
body {
	height: 100%;
	margin: 0;
}
body {
	font-family: Quicksand,Roboto;
	font-size: 20px;
	color: $prim-white;
	// color: white;
	background-color: black;
	opacity: 0.8;
	cursor: default;
}
/* BACKGROUND */
#diag-line {
	position: absolute;
	height: 40%;
	width: 70%;
	// width: 0;
	opacity: 0;
	border-bottom: 1px solid $prim-white;
	transform: translateX(33%) translateY(65%) rotate(30deg);
	z-index: -998;
}
#diag-box-rectangle {
	position: fixed;
	height: 60%;
	width: 70%;
	background-color: slategrey;
	transform: translateX(30%) translateY(60%) rotate(30deg);
	opacity: 0;
	z-index: -1000;
	animation: spin-sg 30s linear 0s infinite alternate;
}
#diag-box-square {
	position: absolute;
	height: 60%;
	width: 30%;
	background-color: grey;
	transform: translateX(0%) translateY(30%) rotate(-32deg);
	opacity: 0;
	z-index: -999;
	animation: spin-g 20s linear 0s infinite alternate;
}
@keyframes spin-sg {
	from {}
	to {
		transform: rotate3d(160deg);
	}
}
@keyframes spin-g {
	from {}
	to {
		// translateX(-12%)
		transform: translateY(20%) rotate(10deg);
	}
}
/* Containers */
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-around;
}
#main {
	display: flex;
	position: relative;
	flex-flow: column;
	height: 100%;
}
/* CONTENT */
.content {
	flex: 1 1 auto;
	// height: 100%;
}
.two-col {
	flex: 1 0 49%;
}
#vert-line {
	background-color: $prim-white;
	height: 0;
	width: 1px;
	z-index: -100;
}
nav {
	margin: 20% 20% 30%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}
.nav-item {
	// flex: 1 0 20%;
	opacity: 0;
	min-width: 50%;
	padding: 0 10%;
	text-align: left;
	cursor: pointer;
	transition: all 0.2s linear;
	&:before,
	&:after {
		transition: all 0.2s linear;
	}
	&:hover {
		border-left: 1.5em solid #2d2d2d;
		// opacity: 1;
	}
	h1 {
		font-size: 40px;
		margin: 0.25em 0;
	}
}
#right-panel {
	justify-content: center;
	align-items: center;
	.info-panel {
		width: 100%;
		padding: 3em;
		display: flex;
		opacity: 0;
	}
}
#construction {
	display: flex;
}
#home-panel {
	margin-bottom: 5em;
}
#about-circle {
	display: none;
}
#about-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10%;
	margin-bottom: 15%;
}
#about-description {
	position: relative;
	padding: 3em;
	color: transparent;
	font-weight: bolder;
	transition: color 0.25s 0.5s linear;
	&:before,
	&:after {
		transition: all 0.8s ease-in-out;
	}
	&:after {
		content: "";
		background: url("../../src/img/sideshot black and white.jpg");
		// background-color: #777;
		background-size: cover;
		// border-radius: 120px 0 120px 0;
		border: 200px inset #aaa;
		border-radius: 450px;
		background-repeat: no-repeat;
		opacity: 0.35;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 0;
	}
	&:hover {
		&:before,
		&:after {
			border: 2em inset #aaa;
			border-radius: 0;
			opacity: 0.3;
		}
		color: $prim-white;
	}
}
@media all and (max-width: 415) {
	input {
		display: none;
	}
	input:checked + #about-panel p {
		&:before,
		&:after {
			border: 2em inset #aaa;
			border-radius: 0;
			opacity: 0.35;
		}
		color: $prim-white;
		// border: 16px inset #aaa;
	}
}
/* FOOTER */
footer {
	flex: 0 1 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #111;
	font-size: 12px;
	padding: 0.7em;
	z-index: 1000;
	opacity: 0;
	border: 1px dotted grey;
	a {
		color: grey;
		text-decoration: none;
		&:hover {
			color: $prim-white;
		}
	}
}
#footer-left {
	flex: 1 0 5%;
	padding-left: 0.3em;
	font-size: 14px;
}
#footer-right {
	flex: 0 1 8%;
	display: flex;
	padding-right: 1.5em;
	justify-content: space-between;
	i {
		flex: 1 0 auto;
	}
}
