footer {
	flex: 0 1 7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #111;
	font-size: 12px;
	padding: 0.7em;
	z-index: 1000;
	opacity: 0;
	border-top: 1px dotted grey;

	a {
		color: grey;
		transition: 0.1s all linear;

		&:hover {
			color: $prim-white;
		}
	}
}

#footer-left {
	flex: 1 0 5%;
	padding-left: 0.3em;
	font-size: 14px;
}

#footer-right {
	padding-right: 0.5em;

	a {
		margin: 0.3em;
	}
}
