@import "base";
@import "footer";
@import "desktop/about-desktop";
@import "desktop/nav-desktop";
@import "desktop/works-desktop";

h1 {
	font-size: 5.0vmin;
}

h2 {
	font-size: 4.0vmin;
}

h3 {
	font-size: 3.7vmin;
}

p {
	font-size: 3.0vmin;
}
/* BACKGROUND */
@media all and (min-width: 1371px) {
	#diag-line {
		position: absolute;
		height: 40vh;
		width: 70vw;
		// width: 0;
		opacity: 0;
		border-bottom: 1px solid $prim-white;
		transform: translateX(33%) translateY(65%) rotate(30deg);
		z-index: -998;
	}
}

#diag-box-rectangle {
	position: fixed;
	height: 60vh;
	width: 70vw;
	background-color: slategrey;
	transform: translateX(30%) translateY(60%) rotate(30deg);
	opacity: 0;
	z-index: -1000;
	animation: spin-sg 30s linear 0s infinite alternate;
}

#diag-box-square {
	position: absolute;
	height: 60vmin;
	width: 60vmin;
	background-color: grey;
	transform: translateX(0%) translateY(30%) rotate(-32deg);
	opacity: 0;
	z-index: -999;
	animation: spin-g 20s linear 0s infinite alternate;
}
@keyframes spin-sg {
	from {}

	to {
		transform: rotate3d(160deg);
	}
}
@keyframes spin-g {
	from {}

	to {
		// translateX(-12%)
		transform: translateY(20%) rotate(10deg);
	}
}
/* Containers */
.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-around;
}

#main {
	display: flex;
	position: relative;
	flex-flow: column;
	height: 100vh;
}
/* CONTENT */
#content {
	flex: 1 1 auto;
	flex-flow: nowrap;
	// height: 100%;
}

.two-col {
	flex: 1 0 49%;
}

#vert-line {
	background-color: $prim-white;
	height: 0;
	width: 1px;
	z-index: -100;
}

#right-panel {
	justify-content: center;
	align-items: center;
	position: relative;
	display: flex;

	.info-panel {
		width: 100%;
		padding: 3em;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
	}
}

#home-panel {
	margin-bottom: 5em;

	h3 {
		line-height: 2;
		opacity: 0.7;
	}

	&:after,
	&:before {
		font-size: 10em;
		position: absolute;
		font-family: cursive;
		opacity: 0.1;
	}

	&:before {
		content: open-quote;
		top: 20%;
		left: 0;
	}

	&:after {
		content: close-quote;
		right: 5%;
		bottom: 37%;
		transform: rotate(180deg);
	}
}
