@import "base";
@import "footer";
@import "desktop/about-desktop";
@import "desktop/nav-desktop";
@import "desktop/works-desktop";

h1 {
	font-size: 5.0vmin;
}

h2 {
	font-size: 4.0vmin;
}

h3 {
	font-size: 3.7vmin;
}

p {
	font-size: 3.0vmin;
}
/* BACKGROUND */
@media all and (min-width: 1371px) {
	#diag-line {
		position: absolute;
		height: 40vh;
		width: 70vw;
		// width: 0;
		opacity: 0;
		border-bottom: 1px solid $prim-white;
		transform: translateX(33%) translateY(65%) rotate(30deg);
		z-index: -998;
	}
}
