@import "base";
@import "footer";
@import "mobile/nav-mobile";
@import "mobile/works-mobile";

#left-panel {
	flex: 1 0 31%;

	&:after {
		content: "";
		background: url("../../src/img/sideshot black and white.jpg");
		background-size: 3px;
		opacity: 0.5;
		width: 100%;
	}
}

#right-panel {
	transition: 10s width ease-in-out;
}

#home-panel > h3 {
	margin-bottom: 1em;
}

footer {
	flex: 0 1 9vh;
}
