html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: Roboto;
	font-size: 20px;
	color: #e6e6e6;
	background-color: black;
}
.flex-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-around;
}
.main {
	position: absolute;
	height: 100%;
	width: 100%;
}
.two-col {
	flex: 1 0 50%;
	padding-top: 5em;
	padding-bottom: 15em;
}
.two-col~.two-col {
	border-left: 1px solid white;
}
.nav {
	margin-left: 20%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}
.nav-item {
	// flex: 1 0 20%;
	min-width: 50%;
	padding: 0 1em;
	text-align: left;
	cursor: pointer;
	transition: all .2s ease-in-out;
	&:hover {
		border-left: 1.5em solid #222;
	}
	h1 {
		margin: .25em 0;
	}
}
